MARKETING_VERSION = 1.7.1
CURRENT_PROJECT_VERSION = 1

IPHONEOS_DEPLOYMENT_TARGET = 16.0
MACOSX_DEPLOYMENT_TARGET = 13.0
SWIFT_VERSION = 5.0

DEVELOPMENT_TEAM =
CODE_SIGN_STYLE = Automatic

PRODUCT_BUNDLE_IDENTIFIER = io.github.youhanasheriff.bitchatdesktop
APP_GROUP_ID = group.io.github.youhanasheriff.bitchatdesktop
